{% extends "base.html" %}

{% block title %}
TV CHANNELS
{% endblock %}

{% block datatables %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
<link href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
<script defer src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script defer src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script defer src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
{% endblock %}

{% block main %}
<main class="container center">
    {% for message in get_flashed_messages() %}
    <div class="mt-4 alert alert-warning message" role="alert">
        <div class="d-flex justify-content-between">
            {{ message }}
            <button onclick="DeleteMessage()" class="align-self-end btn btn-close"></button>
        </div>
    </div>
    {% endfor %}

    <h1 class="text-center title mt-4">CHANNELS</h1>

    <a href="{{ url_for('new_channel') }}" class="btn btn-success rounded-pill px-3 my-2">Add channels</a>

    <table id="datatable" class="table table-striped">
        <thead>
        <tr>
            <th width="200px">Name</th>
            <th width="200px">Image</th>
            <th width="200px">Founder</th>
            <th width="130px">Launch Date</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for channel in channels %}
        <tr>
            <td>{{ channel.name }}</td>
            <td><img src="{{ channel.image_url }}" alt="Channel Image" width="200px"></td>
            <td>{{ channel.founder }}</td>
            <td>{{ channel.launch_date }}</td>
            <td>{{ channel.description }}</td>
            <td>
                <a class="btn btn-primary rounded-pill px-3 my-2" href="/channels/{{ channel.channel_id }}/delete"
                   onclick="return confirm('Do you really want to delete {{ channel.name }}?')">Remove</a>
                <a class="btn btn-info rounded-pill px-3" href="/channels/{{ channel.channel_id }}/modify"
                   onclick="return confirm('Do you really want to modify {{ channel.name }}?')">Modify</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}